*{
    margin: 0;
    padding: 0;
}
.lpage{
    overflow: hidden;
    height: 100vh;
}
h3{
    color: white;
    font-size: 25vmin;
    -webkit-background-clip: text;
    text-align: center;
    mix-blend-mode: difference;
    font-family: Glacial Indifference;
}
#bg-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 1;
}
.navbar{
    width: 100%;
    height: 5vh;
    background-color: #000000;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 65vh;
    font-family: Glacial Indifference;
}
h1{
    width: 25%;
    font-size: 2.5vmin;
    text-align: center;
}
.navbar .icon{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}
.navbar .menu{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
.navbar .menu a{
    width: 20%;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 2vmin;
    text-align: center;
}

